* {
  margin: 0;
  padding: 0;
}
.body {
  background-color: #f1f1f1;
  height: 100%;
}
.content {
  width: 90%;
  margin: auto;
  margin-top: 1%;
}

.left-column {
  width: 13%;
  padding-right: 1%;
}

.right-column {
  width: 86%;
  padding-left: 1%;
}

.filter-list {
  width: 100%;
}
.page-title {
  display: flex;
  align-items: center;
  width: 60%;

  height: 5vh;
}
.filter-box {
  background-color: white;
  width: 100%;

  margin-bottom: 3%;
  border-radius: 5px;
}
.button {
  background-color: aqua;
}
.table {
  background-color: white;
}
